~$*.xlsx
./LAB/Assignments/~$rmcmillan1PHY2049LABMoEPoFSpace.xlsx
LAB/Assignments/wk4/How to use a digital multimeter-i6Umz2-1kbo.mkv


LAB/Assignments/wk4/Introduction to Breadboard (Protoboards), Part 1 of 2-oiqNaSPTI7w.mp4

LAB/Assignments/wk4/Introduction to Breadboard (Protoboards), Part 2 of 2-Mq9XMNsoAd8.mp4

LAB/Assignments/wk4/THE BEST Multimeter tutorial (HD)-bF3OyQ3HwfU.webm
